@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  @apply text-black ; /* TailwindCSS classes */
  
}
body {
  font-family: 'Inter', sans-serif;
}

.customcolor{
  color: #a7ece3;
}

.custom_background_color{
  color: #f6f1eb;
}

  .green-glow {
    text-shadow: 0 0 5px #00ff00b1, 0 0 10px #00c300, 0 0 15px #00ff00be, 0 0 20px #00ff00;
    color: #00ff00; /* Ensures the text itself is green */
  }

  .custom-shadow {
  box-shadow: 0 4px 15px rgba(167, 236, 227, 0.6); /* Shadow with color #a7ece3 */
}

  @layer base {
  :root {
    --radius: 0.5rem;
  
  }
  
}
.section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Class to apply when the section is visible */
.section-visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-out;
}

.fade-in-visible {
  opacity: 1;
  transform: translateY(0);
}